{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Accueil{% endblock title %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur SymRecipe</h1>
    <p class="lead">SymRecipe est une app qui va te permettre de creer et partager tes recettes.</p>
    <hr class="my-4">
    <p>Pour commencer, Rendez-vous sur la page d'inscription</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </p>
    </div>
</div>
{% endblock %}